@model IEnumerable<Gastos.Core.Dtos.SubcategoriaDto>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadMeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Model.Where(x=> x.Categoria.Id != 1).Sum(x=> x.Cantidad).ToString("c")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadMeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstaActivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadMeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nota)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Subcategorias", new { id=item.Id}) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }       
    </tbody>
</table>
