@model Gastos.Core.Dtos.ApartadoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApartadoDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasRestantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasRestantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intereses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intereses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
