@model Gastos.Core.Dtos.PeriodoCompletoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PeriodoCompletoDto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
    </dl>
</div>

<div class="card">
    <div class="card-header">
        <h3>Ingresos</h3>
    </div>
    <div class="card-body">
        @foreach (var item in Model.ListaDeGastos.Where(x => x.SubcategoriaId == 1))
        {
            @item.Id
            <a class="btn btn-secondary" asp-action="Create" asp-controller="Gastos">
                @item.Cantidad
            </a>
            @item.Presupuesto
        }
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>