@model IEnumerable<Gastos.Core.Dtos.PeriodoDto>

@{
    ViewData["Title"] = "Index";
}

<!-- Roadmap Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6">Periodos</h1>
            <p class="text-primary fs-5 mb-5">
                <a asp-action="Create">Agregar nuevo</a>
            </p>
        </div>
        <div class="owl-carousel roadmap-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var item in Model)
            {
                <div class="roadmap-item">
                    <div class="roadmap-point"><span></span></div>
                    <h5>@item.Nombre</h5>
                    <span>
                        @item.FechaInicial.ToLongDateString() / @item.FechaFinal.ToLongDateString()
                    </span>
                    <span>
                        @Html.ActionLink("Detalles", "Index", "Gastos", new {  periodoId=item.Id })
                    </span>/
                    <span>
                        @Html.ActionLink("Editar", "Edit", "Periodos", new {  Id=item.Id })
                    </span>/
                    <span>
                        @Html.ActionLink("Borrar", "Delete", "Periodos", new {  Id=item.Id })
                    </span>

                </div>
            }
        </div>
    </div>
</div>
<!-- Roadmap End -->